<ion-view view-title="Playlist">
    <ion-content>
        <div class="row text-center">
            <div class="col col-10"></div>
            <div class="col col-80 ">
                <h1>Createshop</h1></div>
            <div class="col col-10"></div>
        </div>
        <div class="row text-center">
            <div class="col col-10"></div>
            <div class="col col-80 "><img src="/img/Shop300.png" alt=""></div>
            <div class="col col-10"></div>
        </div>

        <div class="row text-center">
            <div class="col col-10"></div>
            <div class="col col-80 "><button class="button icon ion-plus-circled button-energized" ng-click="gotoselectpicshop()">
            สร้างร้านค้า
        </button></div>
            <div class="col col-10"></div>
        </div>
        
    </ion-content>
</ion-view>