<ion-view class="bg-login">
    <ion-content>
        <div class="row text-center">
            <div class="col col-10"></div>
            <div class="col col-80 "><img class="img-size-200" src="/img/OnlineShop300.png"></div>
            <div class="col col-10"></div>
        </div>
        <div class="text-center">
            <button class="button button-energized" ng-click="facebookLogin()">
                Loing With Facebook
            </button>
        </div>
    </ion-content>
</ion-view>
