<ion-view>
    <ion-content>
        <div class="text-center">
            <br>
            <br>
            <br>
            <img src="https://graph.facebook.com/{{ user.id }}/picture?width=120&height=120" style="border-radius: 100%;" />
            <h4>{{user.name}}</h4>
        </div>
        <br>
        <ion-list ng-repeat="item in pages">
            <ion-radio> <img src="https://graph.facebook.com/{{ item.id }}/picture?width=30&height=30" /> {{item.name}}</ion-radio>
        </ion-list>
        <div class="text-center">
        <button class="button button-energized" ng-click="gotoHome()">
            ยืนยัน
        </button>
        </div>
    </ion-content>
</ion-view>