<ion-view>
    <ion-content>
        <h1>กรุณาเลือกรูปภาพของร้าน</h1>
        <div class="row-fluid">
            <div class="span8 offset2">
                <div>
                    <div class="item item-body text-center">
                        <img class="text-center" src="/img/Shop150.png">
                        <h2>กรุณาเลือกรูปภาพของร้าน</h2>
                    </div>
                </div>
                <ion-list ng-repeat="item in imagesshop">
                    <ion-radio ng-model="choice" ng-value="'A'"><img src="/img/{{item}}.png"></ion-radio>
                </ion-list>
            </div>
        </div>

        <button class="button button-energized" ng-click="gotocreatename()">
  ยืนยัน
</button>
    </ion-content>
</ion-view>